<h1>Welcome to tomgang!</h1>

<p>This is <a href="/">tomgang</a>, a web-based idling/leveling type game!</p>

<p>Inspired by <a href="http://www.kongregate.com/games/Tukkun/anti-idle-the-game">Anti-Idle: The Game</a>, it was built by <a href="http://twitter.com/fusion2004">fusion2004</a> because he wanted to play said game at work, but his save game was on his desktop.</p>

<p>The name 'tomgang' was chosen because an online translator told him that it meant 'idling' in swedish, and he happens to know (of) a few cool swedish peeps.</p>